# Mastering Big Data with PySpark on Google Colab
---

> [Meduim](https://medium.com/@siladityaghosh/mastering-big-data-with-pyspark-on-google-colab-d3c924264ceb#:~:text=While%20local%20setups%20can%20be,on%20the%20ease%20of%20setup)

In [ ]:
!pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("YourAppName").getOrCreate()

In [ ]:
df_2 = spark.createDataFrame(
    [
        ("linha 1", 1, 10, 23),
        ("linha 2", 2, 11, 25),
        ("linha 3", 3, 12, 12),
        ("linha 4", 4, 13, 4),
        ("linha 5", 5, 14, 5)
    ],
    ["Linha", "jan/22", "fev/22", "mar/22"]
)

In [ ]:

df_2.show()

+-------+------+------+------+
|  Linha|jan/22|fev/22|mar/22|
+-------+------+------+------+
|linha 1|     1|    10|    23|
|linha 2|     2|    11|    25|
|linha 3|     3|    12|    12|
|linha 4|     4|    13|     4|
|linha 5|     5|    14|     5|
+-------+------+------+------+

In [ ]:
df_2.createOrReplaceTempView("sql_sf")

In [ ]:
spark.sql("""

select *
from sql_sf

""").show()

+-------+------+------+------+
|  Linha|jan/22|fev/22|mar/22|
+-------+------+------+------+
|linha 1|     1|    10|    23|
|linha 2|     2|    11|    25|
|linha 3|     3|    12|    12|
|linha 4|     4|    13|     4|
|linha 5|     5|    14|     5|
+-------+------+------+------+